# {{ project_name }}

{{ project_description }}

## Table of contents

```{toctree}
:maxdepth: 2
:caption: User Guide

installation/index
```

```{toctree}
:maxdepth: 2
:caption: Tutorials

tutorials/getting-started/index
```

## Authors & license

Copyright {{ copyright_year }} {{ copyright_holder }}

Licensed under the {{ copyright_license }} license (see `LICENSE`).
